// * {
//     font-family: "VT323", monospace !important;
// }

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.custom-form-field {
    margin: 0 !important;
    padding: 0 !important;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;

    &> button {
        min-width: 100px;
    }
}