<div dialog-main-container>
    <h1>Agent order assigned</h1>

    <pre class="container-log">
[ACCESS POSITION ASSIGNED]
You have been placed in the rotation matrix.

Act only when authorized.
Premature action will be ignored.
  </pre>

    <div class="agent-order-container">
        <h1>{{data.order}}</h1>
        <p>You have been assigned to position {{data.order}} in the rotation matrix. You are now known as Agent
            {{data.order}}.</p>
    </div>

    <div dialog-actions-container>
        <button standard-button type="button" (click)="dialogRef.close()">OK</button>
    </div>
</div>