<app-ui-dialog-container dialogTitle="Assegnazione turno Agente">
    <p p-pulse-text>[POSIZIONE ASSEGNATA] .......................... [OK]</p>

    <div class="agent-order-container">
        <h1>{{data.order}}</h1>
        <p>Sei stato assegnato alla posizione {{data.order}} nella matrice di rotazione. Ora sei conosciuto come Agente
            {{data.order}}.</p>
        <app-ui-diagonal-line position="bottom-right"></app-ui-diagonal-line>
    </div>
    
    <div dialog-actions-container>
        <button standard-button type="button" (click)="dialogRef.close()">OK</button>
    </div>
</app-ui-dialog-container>