.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        font-size: 1.2rem;
        margin: 0;
    }
}

.container-log {
  font-family: monospace;
  font-size: 0.9rem;
  color: var(--fg-color);
  text-shadow: 0 0 8px var(--fg-color);
  background: rgba(0, 0, 0, 0.3);
  padding: 12px 16px;
  border: 1px solid var(--fg-color);
  border-radius: 8px;
  line-height: 1.4;
  max-height: 250px;
  overflow-y: auto;

  background-color: rgba(#fff, 0.05);
}

.agent-order-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  border: 1px solid var(--fg-color);
  margin-bottom: 24px;

  h1 {
    margin: 0;
    font-size: 4rem;
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--fg-color);
    color: var(--bg-main-color);
  }

  p {
    margin: 0;
    padding: 24px;
  }
}
