:host {
    height: 100%;
}

.section-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 8px 12px;

    display: flex;
    justify-content: space-between;

    .chat-log-actions {
        display: flex;
        gap: 8px;
    }
}

.game-lobby-page-chat-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;

    .chat-content-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 12px;
        justify-content: space-between;
        padding: 12px;

        &>.chat-log {
            flex-grow: 1;
            overflow: auto;
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            font-size: 1.2rem;

            p {
                margin: 0;
            }

            &>.shout-message {
                text-transform: uppercase;
            }
        }

        &>.chat-input {
            display: flex !important;
            gap: 8px;
            border: 1px solid var(--fg-color);
            padding: 8px;

            input[type="text"] {
                border: none;
                flex-grow: 1;
                background-color: var(--bg-main-color);
                color: var(--fg-color);
                font-size: 16px;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--fg-color);
                    opacity: 0.6;
                }
            }
        }
    }
}