<div dialog-main-container>
  <h1>Partecipa a una missione esistente</h1>

  <pre class="container-log">
[ACCESSO ALLA SESSIONE ESISTENTE] .................... [OK]
[CANALE SICURO STABILITO] ............................. [OK]
-------------------------------------------------------
AGENTE, per unirti a un'operazione attiva devi fornire:

  - ID MISSIONE : identificativo univoco della missione
  - PASSWORD    : chiave di accesso assegnata dall'host

[NOTA] I tentativi di accesso non autorizzati vengono registrati 
       e segnalati.
[STATO] In attesa di verifica...
-------------------------------------------------------
</pre>

  <form standard-form [formGroup]="form">
    <div form-field>
      <label for="id">ID Missione</label>
      <input id="id" type="text" formControlName="id" autocorrect="off" autocomplete="new-password"
        placeholder="Scrivi qui" />
    </div>
    <div form-field>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" autocorrect="off" autocomplete="new-password"
        placeholder="Scrivi qui" />
    </div>
  </form>

  <div dialog-actions-container>
    <button standard-button type="button" [disabled]="form.invalid" (click)="confirm()">Partecipa</button>
    <button standard-button type="button" (click)="cancel()">ESC</button>
  </div>
</div>