<app-ui-dialog-container dialogTitle="Partecipa a una missione esistente">
  <p p-pulse-text>[ACCESSO ALLA SESSIONE ESISTENTE] .................... [OK]</p>
  <p p-pulse-text>[CANALE SICURO STABILITO] ............................. [OK]</p>
  <p p-pulse-text>[AZIONE RICHIESTA] Prego, inserire i dettagli della missione...</p>
  <p>
    ID Missione: l'identificativo univoco della missione a cui si desidera partecipare.<br />
    Password: la chiave di accesso assegnata dall'host della missione.
  </p>
  <form standard-form [formGroup]="form">
    <div form-field>
      <label for="id">ID Missione</label>
      <input id="id" type="text" formControlName="id" autocorrect="off" autocomplete="new-password"
        placeholder="Scrivi qui" />
    </div>
    <div form-field>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" autocorrect="off" autocomplete="new-password"
        placeholder="Scrivi qui" />
    </div>
  </form>

  <div dialog-actions-container>
    <button standard-button type="button" [disabled]="form.invalid" (click)="confirm()">Partecipa</button>
    <button standard-button type="button" (click)="cancel()">ESC</button>
  </div>
</app-ui-dialog-container>