<!-- inspector.component.html -->
<ng-template #tpl>
  <div class="inspector" cdkDragBoundary="body" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="header" cdkDragHandle>
      <div class="header-title">
        <span class="material-symbols-outlined">search</span>
        <span>Inspector {{ input?.data.id }}</span>
      </div>
      <button icon-button (click)="close()">
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>

    @let d = input.data;
    @if(input.data) {
    <div class="body">
      @switch(input.type) {
        @case ('room-clicked') {
          <p>
            {{d.metadata.name | uppercase}}
            {{ d.metadata.description || 'Nessuna descrizione disponibile.' }}
            @if( d.special) {
              @if (d.id === 'R_01') {
                <div class="r-01-container">
                  <p>Codice destinazione</p>
                  <p class="destination-code">{{ d.special.destinationCode }}</p>
                </div>
              }
              @if (d.id === 'R_02') {
                <div class="r-01-container">
                  <p>Capsule</p>
                  <p class="destination-code">{{ d.special.active ? 'in caricamento' : 'pronte' }}</p>
                </div>
              }
            }
          </p>
          
          <p class="text-subtitle">Azioni</p>
          @if (loadingActions) {
          Fetch delle informazioni in corso...
          } @else {
            @for(a of actions; track a.id) {
              <details class="actions-details">
                <summary>
                  <span>{{ a.title }}</span>
                  <span class="material-symbols-outlined">{{a.ui?.icon}}</span>
                </summary>
                <p>{{ a.description }}</p>
                <app-ui-diagonal-line position="bottom-right"></app-ui-diagonal-line>
              </details>
            } @empty {
              @if (d.explored) {
              Nessuna azione disponibile.
              } @else {
              Stanza non esplorata.
              }
            }
          }
        }

        @case ('corridor-clicked') {
          <p>
            {{ d.metadata.name | uppercase }}
          </p>
          <hr>
          <p>
            Nessuna descrizione disponibile.
          </p>
          <p class="text-subtitle">Stato portellone</p>
          <p>
            Aperto
          </p>
        }

        @case('info-clicked') {
          <p>
            {{ d.title | uppercase }}
          </p>
          <p class="text-subtitle">Progresso</p>
          <app-progress-bar
            [min]="d.min"
            [max]="d.max"
            [current]="d.current"
          ></app-progress-bar>
          <hr>
          <p>
            {{ d.description || 'Nessuna descrizione disponibile.' }}
          </p>
          <div class="r-01-container">
            <p>Allarme</p>
            <p class="destination-code">{{ d.current === 0 ? 'Assente' : d.current > 0 && d.current < d.max ? 'Parziale' : 'Massimo' }}</p>
          </div>
        }

        @default {
        Default case
        }
      }
    </div>
    }
    <app-ui-diagonal-line position="bottom-right"></app-ui-diagonal-line>
  </div>
</ng-template>