.inspector {
  width: 300px;
  background: var(--bg-main-color);
  color: white;
  border: 1px solid var(--fg-color);
  // border-radius: 8px;
  padding: 0;
  box-shadow: 0 4px 16px var(--bg-main-color);

  opacity: 0;
  scale: 0.95;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}

.header {
  padding: 8px;
  background: var(--fg-color);
  color: var(--bg-main-color);
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>button {
    color: var(--bg-main-color) !important;
  }

  &>.header-title {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 4px;

    &>.material-symbols-outlined {
      font-size: 1rem;
    }
  }
}

.body {
  padding: 12px;
  max-height: 450px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;

  button {
    width: 100%;
  }

  p {
    margin: 0;
  }
}

.text-subtitle {
  color: var(--fg-color);
  font-weight: bold;
  text-transform: uppercase;
}

.actions-details {
  background-color: var(--bg-main-color);
  border: 1px solid var(--fg-color);
  padding: 8px;
  position: relative;

  summary {
    cursor: pointer;
    text-transform: uppercase;
    color: var(--fg-color);
    display: flex;
    justify-content: space-between;

    &>.material-symbols-outlined {
      font-size: 1rem;
    }
  }
}

.actions-details[open]>summary {
  margin-bottom: 8px;
}

// Specific styles

.r-01-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 8px;
  margin-top: 16px;
  border-left: 8px solid white;

  p {
    margin: 0;
    text-transform: uppercase;
  }

  &>.destination-code {
    font-weight: bold;
    font-size: 1.5rem;
  };
}

.action-header {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 8px;

  .material-symbols-outlined {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--fg-color);
    width: 48px;
    height: 48px;
    color: var(--fg-color);
    animation: pulse-icon 2s infinite;
  }

  .action-data {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@keyframes pulse-icon {
  0% {
    opacity: 0.2;
    text-shadow: 0 0 2px var(--fg-color);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 4px var(--fg-color);
  }
  100% {
    opacity: 0.2;
    text-shadow: 0 0 2px var(--fg-color);
  }
}

hr {
  width: 100%;
  color: var(--fg-color);
}