<app-ui-dialog-container dialogTitle="Aiuto">
  <p p-pulse-text>[SISTEMA LOBBY ONLINE] ........................ [OK]</p>
  <p p-pulse-text>[CONNESSIONE AGENTE VERIFICATA] ................ [OK]</p>
  <p>
    AGENTE,<br />
    sei entrato nell’area di preparazione della missione.<br /><br />

    Qui puoi:<br />
    • Comunicare tramite il CANALE PUBBLICO<br />
    • Configurare la tua identità operativa<br />
    • Attendere il tuo turno di attivazione assegnato<br /><br />

    CAMPI DI CONFIGURAZIONE (PRIVATI):<br />
    - Azienda      → irrilevante per la gerarchia di sistema<br />
    - Nome/Cognome → usato solo per identificazione agente<br />
    - Ruolo        → cosmetico, non validato da ALTEREGO<br />
    - Archetippo   → UNICO parametro riconosciuto dal sistema<br /><br />

    ORDINE DI TURNO:<br />
    - Il tuo numero determina quando agirai<br />
    - La scelta dell’archetipo è sequenziale: i numeri più bassi
      scelgono per primi<br />
    - Gli agenti con numeri più alti devono attendere il proprio turno<br /><br />

    AZIONI:<br />
    - SALVA   → blocca la configurazione in modo permanente<br />
    - LASCIA  → ti rimuove dalla lista della missione<br />
    - AVVIA   → disponibile solo all’Host quando tutti gli <br />
                agenti sono PRONTI<br /><br />

    &gt; Una volta confermata, nessuna modifica sarà più accettata.<br />
    &gt; Scegli con attenzione, Agente.
  </p>
  <p p-pulse-text>[Messaggio generato da ALTEREGO-LOBBY // Livello 2]</p>

  <div dialog-actions-container>
    <button standard-button type="button" (click)="dialogRef.close()">OK</button>
  </div>
</app-ui-dialog-container>

<!-- <div dialog-main-container>
  <h1>Aiuto</h1>

  <pre class="container-log">
[SISTEMA LOBBY ONLINE] ........................ [OK]
[CONNESSIONE AGENTE VERIFICATA] ................ [OK]
-------------------------------------------------------
 AGENTE,
 sei entrato nell’area di preparazione della missione.

 Qui puoi:
  • Comunicare tramite il CANALE PUBBLICO
  • Configurare la tua identità operativa
  • Attendere il tuo turno di attivazione assegnato

 CAMPI DI CONFIGURAZIONE (PRIVATI):
  - Azienda      → irrilevante per la gerarchia di sistema
  - Nome/Cognome → usato solo per identificazione agente
  - Ruolo        → cosmetico, non validato da ALTEREGO
  - Archetippo   → UNICO parametro riconosciuto dal sistema

 ORDINE DI TURNO:
  - Il tuo numero determina quando agirai
  - La scelta dell’archetipo è sequenziale: i numeri più bassi 
    scelgono per primi
  - Gli agenti con numeri più alti devono attendere il proprio turno

 AZIONI:
  - SALVA   → blocca la configurazione in modo permanente
  - LASCIA  → ti rimuove dalla lista della missione
  - AVVIA   → disponibile solo all’Host quando tutti gli 
              agenti sono PRONTI

> Una volta confermata, nessuna modifica sarà più accettata.
> Scegli con attenzione, Agente.
-------------------------------------------------------
[Messaggio generato da ALTEREGO-LOBBY // Livello 2]
  </pre>

  <div dialog-actions-container>
    <button standard-button type="button" (click)="dialogRef.close()">OK</button>
  </div>
</div> -->