  .setup-preview-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      background-color: var(--bg-main-color);

      h3 {
          margin: 0 0 12px 0;
      }

      .setup-preview-content {
          border: 1px solid var(--fg-color);
          height: 100px;
          display: grid;
          grid-template-columns: 100px 50px auto;

          &>.company-container {
              width: 50px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--fg-color);
              color: var(--bg-main-color);

              &>.company-logo {
                  width: 30px;
                  height: 30px;
              }

              &>.company-logo.material-symbols-outlined {
                  width: auto;
                  height: auto;
                  font-size: 2rem;
                  align-self: center;
              }
          }

          &>.agent-info {
              padding: 8px;
              display: flex;
              gap: 16px;

              &>.agent-info-container {
                  flex-grow: 1;
                  display: flex;
                  flex-direction: column;
                  gap: 4px;
                  align-items: end;
                  justify-content: center;

                  &>.agent-name {
                      font-size: 1.8rem;
                      text-transform: uppercase;
                  }

                  &>.agent-role {
                      display: flex;
                      align-items: center;
                      gap: 4px;

                      &>.material-symbols-outlined {
                          font-size: 1.2rem;
                      }

                      &>span[title] {
                          text-transform: capitalize;
                      }
                  }

                  &>.agent-variables-container {
                      display: flex;
                      gap: 8px;
                      align-items: center;

                      &>span {
                          cursor: default;
                      }

                  }
              }

              &>.actions-indicator-container {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  justify-content: center;

                  &>.action-led {
                      height: 100%;
                      width: 8px;
                      border: 1px solid var(--fg-color);
                      background-color: var(--fg-color);
                      box-shadow: 0 0 8px var(--fg-color);
                  }

                  &>.action-used {
                      background-color: var(--bg-main-color);
                      box-shadow: none;
                  }
              }
          }
      }
  }

  .icon-disabled {
      opacity: .3;
  }