  .setup-preview-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      background-color: var(--bg-main-color);

      h3 {
          margin: 0 0 12px 0;
      }

      .setup-preview-content {
          border: 1px solid var(--fg-color);
          height: 100px;
          display: grid;
          grid-template-columns: 80px 40px auto;

          &>.company-container {
              width: 40px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--fg-color);
              color: var(--bg-main-color);

              &>.company-logo {
                  width: 30px;
                  height: 30px;
              }

              &>.company-logo.material-symbols-outlined {
                  width: auto;
                  height: auto;
                  font-size: 2rem;
                  align-self: center;
              }
          }

          .image-container {
              height: 100px;
              width: 80px;
              position: relative;

              &>.image-overlay {
                  position: absolute;
                  inset: 0;
                  background: rgba(0, 0, 0, 0.3);
                  pointer-events: none;
                  z-index: 200;
                  background-color: var(--fg-color);
                  opacity: 0.2;
              }

              &>img {
                    height: 100%;
                    width: 100%;
                    padding: 1px;
                    object-fit: cover;
                    filter: grayscale(1) contrast(1.2);
                    mix-blend-mode: soft-light;
              }
          }

          &>.image-container::before {
              content: "";
              position: absolute;
              inset: 0;
              background: repeating-linear-gradient(to bottom,
                      rgba(0, 0, 0, 0.4) 0px,
                      rgba(0, 0, 0, 0.4) 1px,
                      transparent 1px,
                      transparent 3px);
              mix-blend-mode: overlay;
              pointer-events: none;
          }

          &>.agent-info {
              padding: 8px;
              display: flex;
              gap: 16px;

              &>.agent-info-container {
                  flex-grow: 1;
                  display: flex;
                  flex-direction: column;
                  gap: 4px;
                  align-items: end;
                  justify-content: center;

                  &>.agent-name {
                      font-size: 1.8rem;
                      text-transform: uppercase;
                  }

                  &>.agent-role {
                      display: flex;
                      align-items: center;
                      gap: 4px;

                      &>.material-symbols-outlined {
                          font-size: 1.2rem;
                      }

                      &>span[title] {
                          text-transform: capitalize;
                      }
                  }

                  &>.agent-variables-container {
                      display: flex;
                      gap: 8px;
                      align-items: center;

                      &>span {
                          cursor: default;
                      }

                  }
              }

              &>.actions-indicator-container {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  justify-content: center;

                  &>.action-led {
                      height: 100%;
                      width: 8px;
                      border: 1px solid var(--fg-color);
                      background-color: var(--fg-color);
                      box-shadow: 0 0 8px var(--fg-color);
                  }

                  &>.action-used {
                      background-color: var(--bg-main-color);
                      box-shadow: none;
                  }
              }
          }
      }
  }

  .icon-disabled {
      opacity: .3;
  }