<div class="setup-preview-container">
    @if ($showTitle()) {
        <h3>Agent tag preview</h3>
    }
    @if (player) {
        <div class="setup-preview-content">
        <div class="company-container">
            @if (player.company.name !== '') {
            <div class="company-logo" [style.background-color]="'var(--bg-main-color)'"
                [style.-webkit-mask]="'url(./company-logos/' + player.company.name + '.svg) no-repeat center / contain'"
                [style.mask]="'url(./company-logos/' + player.company.name + '.svg) no-repeat center / contain'">
            </div>
            } @else {
            <span class="company-logo material-symbols-outlined">
                warning
            </span>
            }
        </div>
        <div class="agent-info">
            <div class="agent-info-container">
                <div class="agent-name">{{player.name || '[ NAME ]' }} {{player.surname || '[ SURNAME ]'}}</div>
                <div class="agent-role">{{player.role || '[ UNSELECTED ROLE ]'}}
                    @if (player.archetype) {
                        <span [title]="player.archetype.name" class="material-symbols-outlined">{{player.archetype.name | archetypeGetIcon}}</span>
                    }
                </div>
            </div>
            <div class="actions-indicator-container">
                <div class="action-led" [class.action-used]="player.actionPoints < 2"></div>
                <div class="action-led" [class.action-used]="player.actionPoints <= 0"></div>
            </div>
        </div>
    </div>
    }
</div>