.tab-menu-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &>.tab-actions-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;

        &>.radio-button-container {
            user-select: none;
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 52px;
            border: 1px solid var(--fg-color);
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.2s, border-color 0.2s;
            opacity: 0.5;

            input[type="radio"] {
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }

            .label-text {
                font-size: 1.2rem;
                z-index: 1;
                opacity: 0.5;
            }

            &:hover {
                background-color: var(--bg-hover);
            }

            &:has(input[type="radio"]:checked) {
                opacity: 1;
                border-bottom: 1px solid var(--bg-main-color);
                text-shadow: 0 0 8px var(--fg-color);
                z-index: 2;

                .label-text {
                    opacity: 1;
                }
            }
        }
    }
}

.tab-menu-content-container {
    // border: 1px solid var(--fg-color);
    border-left: 1px solid var(--fg-color);
    border-right: 1px solid var(--fg-color);
    border-bottom: 1px solid var(--fg-color);
    flex-grow: 1;
}

.diagonal-line, .diagonal-line-overlay {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 0;
}
.diagonal-line-overlay {
    z-index: 1;
}