<div dialog-main-container>
  <h1>CHAT HELP</h1>

  <pre class="container-log">
[SECURE CHANNEL] ................................. [OK]
[PROTOCOL HANDSHAKE] ............................. [OK]
-------------------------------------------------------
 AGENTE,
 il sistema di comunicazione ALTEREGO è online.
 Puoi trasmettere messaggi standard o codificati
 utilizzando le seguenti direttive:

  /shout &lt;message&gt;
     Trasmette un allarme prioritario (maiuscolo). Visibile a 
     tutti gli agenti.
     Esempio: /shout nemico avvistato
        diventa "NEMICO AVVISTATO"
  /coin 
     Simula il lancio di una moneta. Restituisce "TESTA" o "CROCE".

 Comandi non autorizzati saranno ignorati dal
 centro di smistamento. Un uso improprio può attivare contromisure.

-------------------------------------------------------
 > Mantieni la chiarezza in tutte le trasmissioni.
 > La discrezione preserva la sopravvivenza.
-------------------------------------------------------
 [ALTEREGO-COM // Access level 2 :: Communication Node]
  </pre>

  <div dialog-actions-container>
    <button standard-button type="button" (click)="dialogRef.close()">ESC</button>
  </div>
</div>