:host {
    width: 100%;
    height: 100%;
}

.mission-play-page-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .term-line {
        opacity: 0;
        animation: fadeInUp 0.5s forwards;
        animation-delay: calc(var(--delay) * 1ms);
        text-shadow: 0 0 8px var(--fg-color);
    }

    .title-line {
        font-family: monospace;
        white-space: pre;
    }
}

.breadcrumb-container {
    position: absolute;
    top: 24px;
    left: 24px;

    display: flex;
    align-items: end;
    gap: 8px;

    .title-line {
        font-size: 0.3rem;
        opacity: 1;
    }

    .mode-line {
        font-size: 1.2rem;
    }
}

.mission-play-page-content-container {
    width: 100%;
    height: 80%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 33%;
    gap: 8px;

    section {
        flex-grow: 1;
        border: 1px solid var(--fg-color);
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .section-title {
            font-size: 1.5rem;
            text-transform: uppercase;
            padding: 8px 12px;

            display: flex;
            justify-content: space-between;

            .chat-log-actions {
                display: flex;
                gap: 8px;
            }
        }

        .background-level {
            opacity: .3;
            width: 100%;
            height: 100%;
        }
    }

    app-chat {
        flex-grow: 1;
        overflow: auto;

        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.mission-play-page-actions-container {
    position: fixed;
    bottom: 24px;
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 1100px) {
    .mission-play-page-content-container {
        grid-template-columns: 1fr 33%;
    }
}

.content-section {
    display: grid;
    grid-template-rows: 1fr  100px;
    position: relative;

    &>.background-level {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: .3;
        width: 100%;
        height: 100%;
    }

    &>.map-container {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 100;
        border: 1px solid var(--fg-color);
        border-bottom: none;


        &>.zoom-controls {
            position: absolute;
            top: 8px;
            right: 8px;
            display: flex;
            flex-direction: column;
            gap: 4px;

            button {
                width: 34px;
                height: 34px;
                padding: 0;
                font-size: 1.5rem;
                line-height: 1;
                border: 1px solid var(--fg-color);
                background-color: var(--bg-main-color);
                color: var(--fg-color);
                cursor: pointer;
                z-index: 4000;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &>.ship-status-container {
            position: absolute;
            bottom: 8px;
            left: 8px;

            display: flex;
            gap: 8px;

            border: 1px solid var(--fg-color);
            background-color: var(--bg-main-color);
            padding: 8px;
            z-index: 5000;
            padding-right: 24px;
        }

        &>.mission-countdown-container {
            position: absolute;
            top: 8px;
            right: 48px;
            display: flex;
            gap: 8px;
            align-items: center;

            border: 1px solid var(--fg-color);
            background-color: var(--bg-main-color);
            padding: 8px;
            z-index: 4000;
        }

        #map {
            width: 100%;
            height: 100%;
            background: none;
        }
    }

    .agent-container {
        height: 100px;
        display: grid;
        grid-template-columns: 1fr 40%;
        z-index: 200;

        &>.agent-sub-container {
            border: 1px solid var(--fg-color);
            background-color: var(--bg-main-color);
            padding: 8px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;

            &>div {
                border: 1px solid var(--fg-color);
                display: flex;
                align-items: center;
                justify-content: center;

                text-transform: uppercase;
            }
        }
    }
}

.tab-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}