<div class="mission-play-page-main-container">
    <div class="breadcrumb-container">
        <div [routerLink]="['/']">
            @for(line of titleLines; track $index) {
            <div class="{{line.class}} term-line">{{line.text}}</div>
            }
        </div>
        <div class="mode-line">/missions/{{missionId}}/play [ CONCENTRATI ]</div>
    </div>

    <div class="mission-play-page-content-container">
        <section>
            <div class="background-level" 
                [style.background-color]="'var(--fg-color)'"
                [style.mask]="'url(./images/backgrounds/green.svg) no-repeat center / cover'"
                [style.-webkit-mask]="'url(./images/backgrounds/green.svg) no-repeat center / cover'">
            ></div>
        </section>
        <app-tab-menu-container #tabMenu [$tabs]="['azioni', 'status', 'log/chat']">
            @if (tabMenu.selectedTab === 'azioni') {
                <div>Azioni</div>
            }
            @if (tabMenu.selectedTab === 'log/chat') {
                <app-chat [$player]="player" [$mission]="mission" [$onPlay]="true"></app-chat>
            }
        </app-tab-menu-container>
    </div>
</div>