<div class="mission-play-page-main-container">
    <div class="breadcrumb-container">
        <div [routerLink]="['/']">
            @for(line of titleLines; track $index) {
            <div class="{{line.class}} term-line">{{line.text}}</div>
            }
        </div>
        <div class="mode-line">/missions/{{missionId}}/play</div>
    </div>

    <div class="mission-play-page-content-container">
        <div class="content-section">
            <div class="background-level" [style.background-color]="'var(--fg-color)'"
                [style.mask]="'url(./images/backgrounds/green.svg) no-repeat center / cover'"
                [style.-webkit-mask]="'url(./images/backgrounds/background-grid.svg) no-repeat center / cover'">
                ></div>

            <div class="map-container">
                <div class="zoom-controls">
                    <button (click)="zoomIn($event)">
                        <span class="material-symbols-outlined">add</span>
                    </button>
                    <button (click)="zoomOut($event)">
                        <span class="material-symbols-outlined">remove</span>
                    </button>
                    <button (click)="resetZoom($event)">
                        <span class="material-symbols-outlined">recenter</span>
                    </button>
                </div>
                <app-legend-container></app-legend-container>
                <div class="ship-status-container">
                    <app-progress-bar icon="settings" label="scafo" [min]="0" [max]="8"></app-progress-bar>
                    <app-progress-bar icon="local_fire_department" label="fuoco" [min]="0" [max]="8"></app-progress-bar>
                </div>
                <div id="map"></div>
            </div>
            <div class="agent-container">
                <app-agent-tag [$player]="player" [$showTitle]="false"></app-agent-tag>
                <div class="agent-sub-container">
                    <!-- <p>[Status] Ambiente</p>
                    <app-progress-bar icon="settings" label="scafo" [min]="0" [max]="8"></app-progress-bar>
                    <app-progress-bar icon="local_fire_department" label="fuoco" [min]="0" [max]="8"></app-progress-bar> -->
                </div>
            </div>
        </div>
        <app-tab-menu-container #tabMenu [$tabs]="['azioni', 'status', 'log/chat']">
            @if (tabMenu.selectedTab === 'azioni') {
            <div class="tab-content-container">
                <p>Azioni disponibili</p>
            </div>
            }
            @if (tabMenu.selectedTab === 'status') {
            <div class="tab-content-container">
                <p>Status missione</p>
            </div>
            }
            @if (tabMenu.selectedTab === 'log/chat') {
            <app-chat [$player]="player" [$mission]="mission" [$onPlay]="true"></app-chat>
            }
        </app-tab-menu-container>
    </div>
    <!-- <app-progress-bar [min]="0" [max]="15" [current]="2" icon="hourglass_empty" label="rounds"></app-progress-bar> -->

    @if (player) {
    <div class="mission-play-page-actions-container">
        <button standard-button disabled>Vedi obbiettivo</button>
        <button standard-button type="button" disabled>{{player.actionPoints <= 1 ? 'Concludi' : 'Passa' }}</button>
                <button standard-button [routerLink]="['/missions']">Esci</button>
    </div>
    }
</div>