.terminal-input-container {
    display: flex;
    align-items: center;
    // gap: 8px;
    justify-content: space-between;
    padding: 4px 8px;
    background-color: var(--bg-main-color);

    &>form {
        flex-grow: 1;

        &>input {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: var(--fg-color);
        font-family: "VT323", monospace;
        font-size: 16px;
    }
    }
}