<div class="terminal-input-container standard-border">
    <span class="material-symbols-outlined pulse-icon">chevron_right</span>
    <form [formGroup]="form">
        <input #cmdInput standard-input type="text" (keydown)="onKeyDown($event)" formControlName="command" autocomplete="off" autocorrect="off"
            autocapitalize="none" spellcheck="false" autofocus required placeholder="_"/>
    </form>
    <span class="material-symbols-outlined" (click)="onSubmit()">keyboard_return</span>
</div>