.diagonal-line, .diagonal-line-overlay {
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 0;
}
.diagonal-line-overlay {
    z-index: 1;
}

.top-right {
    top: -1px;
    right: -1px;
}

.bottom-right {
    bottom: -1px;
    right: -1px;
    transform: rotate(90deg);
}