<h1 mat-dialog-title>Terminal command help</h1>
<mat-dialog-content>
    <p>The entire application works based on the commands entered in the terminal that appears on the page. Try some of
        the following commands:</p>
    <p><code>/help</code> - Show this help message</p>
    <p><code>/theme green | cyan | amber</code> - Change the application theme</p>
    <p><code>/about</code> - Learn more about this application</p>

    <p>Press ESC to close any modal.</p>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button standard-btn mat-dialog-close cdkFocusInitial>OK</button>
</mat-dialog-actions>