<app-ui-dialog-container dialogTitle="Aiuto">
    <p>
        AGENTE,<br>
        il sistema ALTEREGO ha verificato la tua identità.
        Ora sei sotto costante osservazione.
        <br>
        Durante la missione, segui i protocolli operativi
        assegnati dalla tua Divisione.
        La collaborazione con altri agenti è
        autorizzata — ma non raccomandata.
        <br>
        Ogni trasmissione è monitorata e archiviata
        nel centro dati centrale. Deviazioni dalla
        procedura attiveranno una risposta automatica.
    </p>
    <p p-pulse-text>MANTIENI LA CALMA, PRESERVA L'INTEGRITÀ DEL SISTEMA, SOPRAVVIVI.</p>
    <hr style="width: 100%;">
    <p>
        <strong>ALTEREGO</strong> è un gioco semi-cooperativo di sopravvivenza e strategia ambientato su una nava in viaggio verso la
        terra. Il cadavere di un membro dell'equipaggio viene rinvenuto all'inizio. Chi è stato ad ucciderlo?

    </p>
    <div dialog-actions-container>
        <button standard-button type="button" (click)="dialogRef.close()">ESC</button>
    </div>
</app-ui-dialog-container>