:host {
    width: 100%;
}

.bar-main-container {
    display: flex;
    gap: 8px;
    align-items: center;

    &>.material-symbols-outlined {
        font-size: 1rem;
        color: var(--fg-color);
        cursor: default ;
    }
}

.bar-container {
    width: 100%;
    height: 8px;
    display: flex;
    gap: 2px;

    &>.bar-segment {
        height: 100%;
        width: 16px;
        border: 1px solid var(--fg-color);
    }

}

.filled-segment {
    background-color: var(--fg-color);
    animation: fill-segment-slow-pulse 2s infinite;
}

.full-size-segment {
    width: 100% !important;
}

@keyframes fill-segment-slow-pulse {
    0% {
        box-shadow: 0 0 4px var(--fg-color);
    }
    50% {
        box-shadow: 0 0 8px var(--fg-color);
    }
    100% {
        box-shadow: 0 0 4px var(--fg-color);
    }
}