<div class="codex-page-main-container">
    <div class="breadcrumb-container">
        <div>
            @for(line of titleLines; track $index) {
            <div class="{{line.class}} term-line">{{line.text}}</div>
        }
        </div>
        <div class="mode-line">/codex</div>
    </div>
    <div class="codex-page-content-container">
        <app-tab-menu-container #tabMenu="tabMenu" [$tabs]="['dati raccolti', 'obbiettivi']">
            @if (tabMenu.selectedTab === 'dati raccolti') {
                <cdk-accordion class="accordion-main-container">
                    @for(item of groupedLore | keyvalue; track item; let index = $index) {
                        <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item-container">            
                            <div class="accordion-item-header">
                                <p>{{ item.key | uppercase }}</p>
                                <button icon-button (click)="accordionItem.toggle()" tabindex="0" [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                                [attr.aria-controls]="'accordion-body-' + index">
                                    <span class="material-symbols-outlined">{{accordionItem.expanded ? 'expand_less' : 'expand_more' }}</span>
                                </button>
                            </div>
                            @if (accordionItem.expanded) {
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            }
                        </cdk-accordion-item>
                    }
                </cdk-accordion>
            }
            @if (tabMenu.selectedTab === 'obbiettivi') {
                <div class="in-progress-content">In costruzione...</div>
            }
        </app-tab-menu-container>
        <section>
            <div class="section-title">Dettagli</div>
            <div class="in-progress-content">[WAITING] Seleziona un elemento...</div>
        </section>
    </div>

    <div class="codex-page-actions-container">
        <button standard-button type="button" [routerLink]="['/']">Esci</button>
    </div>
</div>
