:host {
    width: 100%;
    height: 100%;
}

.codex-page-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .term-line {
        opacity: 0;
        animation: fadeInUp 0.5s forwards;
        animation-delay: calc(var(--delay) * 1ms);
        text-shadow: 0 0 8px var(--fg-color);
    }

    .title-line {
        font-family: monospace;
        white-space: pre;
    }
}

.breadcrumb-container {
    position: absolute;
    top: 24px;
    left: 24px;

    display: flex;
    align-items: end;
    gap: 8px;

    .title-line {
        font-size: 0.3rem;
        opacity: 1;
    }

    .mode-line {
        font-size: 1.2rem;
    }
}

.codex-page-actions-container {
    position: fixed;
    bottom: 24px;
    display: flex;
    gap: 16px;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
    }
}