:host {
    width: 100%;
    height: 100%;
}

.codex-page-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .term-line {
        opacity: 0;
        animation: fadeInUp 0.5s forwards;
        animation-delay: calc(var(--delay) * 1ms);
        text-shadow: 0 0 8px var(--fg-color);
    }

    .title-line {
        font-family: monospace;
        white-space: pre;
    }
}

.breadcrumb-container {
    position: absolute;
    top: 24px;
    left: 24px;

    display: flex;
    align-items: end;
    gap: 8px;

    .title-line {
        font-size: 0.3rem;
        opacity: 1;
    }

    .mode-line {
        font-size: 1.2rem;
    }
}

.codex-page-content-container {
    width: 100%;
    height: 80%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    section {
        flex-grow: 1;
        border: 1px solid var(--fg-color);
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .section-title {
            font-size: 1.5rem;
            text-transform: uppercase;
            padding: 8px 12px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-shadow: 0 0 8px var(--fg-color);
        }

        &>.in-progress-content {
            font-size: 1.2rem;
            text-shadow: 0 0 8px var(--fg-color);
        }
    }
}

.codex-page-actions-container {
    position: fixed;
    bottom: 24px;
    display: flex;
    gap: 16px;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
    }
}

.accordion-main-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    padding: 12px;

    &>.accordion-item-container {
        width: 100%;
        border: 1px solid var(--fg-color);
        padding: 12px;

        &>.accordion-item-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            &>p {
                margin: 0;
                font-size: 1.2rem;
            }
        }

    }
}

// TEMP

.in-progress-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}