<div class="app-main-container">
    <router-outlet />

    <div class="theme-toggle-button-container">
        <app-theme-toggle-button></app-theme-toggle-button>
        <span class="material-symbols-outlined" (click)="soundService.toggleSounds()">{{soundService.playSounds ?
            'volume_up' : 'volume_off'}}</span>
    </div>
</div>

@if (isUnsupported) {
<app-unsupported-page></app-unsupported-page>
}

<div class="notification-container" id='notificationContainer'></div>
    <app-inspector></app-inspector>

@if (loadingRoot) {
<app-global-loader></app-global-loader>
}