<div class="home-page-main-container">
    @for(line of appTitleLines; track $index) {
        <div class="{{line.class}} term-line" [class.intro-animation]="!skipIntro" [style.animationDelay.ms]="line.delay">{{line.text}}</div>
    }
    @for(line of appSubtitleLines; track $index) {
        <div class="{{line.class}} term-line" [class.intro-animation]="!skipIntro" [style.animationDelay.ms]="line.delay">{{line.text}}</div>
    }

    <div class="home-page-actions-container" [class.intro-action-animation]="!skipIntro">
        @if (user) {
            <button standard-button type="button" (click)="logOut()">Disconnetti</button>
        } @else {
            <button standard-button type="button" [routerLink]="'/auth/login'">Connetti</button>
            <button standard-button type="button" [routerLink]="'/auth/register'">Registrati</button>
        }
        <button standard-button type="button" [disabled]="!user" [routerLink]="'/missions'">Missioni</button>
        <button standard-button type="button" [disabled]="!user" [routerLink]="'/codex'">Codex</button>
        <button standard-button type="button" [disabled]="!user" (click)="helpDialogOpen()">Aiuto</button>
        <button standard-button type="button" (click)="aboutDialogOpen()">Info</button>
        @if (user?.username === 'gianluks90') {
            <a href="https://console.firebase.google.com/u/4/project/alterego-2025/firestore/databases/-default-/data/~2Fusers~2FVOqziSjOvuXgjCCBSmfyIVAmxl83" target="_blank" rel="noopener">
                <button standard-button type="button">Firebase</button>
            </a>
        }
    </div>
</div>

<button icon-button class="toggle-fullscreen-button" (click)="toggleFullscreen()">
    <span class="material-symbols-outlined">{{isFullscreen ? 'fullscreen_exit' : 'fullscreen'}}</span>
</button>