.home-page-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .term-line {
        text-shadow: 0 0 8px var(--fg-color);
    }

    .intro-animation {
        opacity: 0;
        animation: fadeInUp 0.5s forwards;
        animation-delay: calc(var(--delay) * 1ms);
    }
}

.title-line {
    font-family: monospace;
    white-space: pre;
    margin-bottom: 4px;
}

.home-page-actions-container {
    position: fixed;
    bottom: 24px;
    display: flex;
    gap: 16px;

}

.intro-action-animation {
    opacity: 0;
    animation: fadeInUp 0.5s forwards;
    animation-delay: 3000ms;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
    }
}

.toggle-fullscreen-button {
    position: fixed;
    top: 24px;
    left: 24px;
}