<div class="game-lobby-page-main-container">
    <div class="breadcrumb-container">
        <div [routerLink]="['/']">
            @for(line of titleLines; track $index) {
            <div class="{{line.class}} term-line">{{line.text}}</div>
            }
        </div>
        <div class="mode-line">/missions/{{missionId}}/lobby</div>
    </div>

    <div class="game-lobby-page-content-container">
        <!-- @if (player) { -->

            <!-- AGENT SETUP -->
            <section class="game-lobby-page-setup-container">
            <div class="section-title">
                <span>{{ player | agentLabel: form.value }}</span>
            </div>
            @if (player) {
                <div class="agent-setup-content-container">
                <div class="setup-options-container">
                    <h3>Company {{player.company === '' ? '[ UNSELECTED ]' : `[ ${player.company} ]` | uppercase | replaceDash}}</h3>
                    <div class="company-grid">
                        @for(company of companies; track $index) {
                            <div class="company-card-wrapper" (click)="selectCompany(company)" [class.company-card-selected]="player.company === company">
                                <div [style.background-color]="'var(--fg-color)'"
                                    [style.-webkit-mask]="'url(./company-logos/' + company + '.svg) no-repeat center / contain'"
                                    [style.mask]="'url(./company-logos/' + company + '.svg) no-repeat center / contain'" class="company-card">
                                </div>
                            </div>
                        }
                    </div>
                    <h3>Informations</h3>
                    <div class="info-container">
                        <div>
                            <span>{{form.value.name || 'Generate name'}}</span>
                            <button icon-button type="button" (click)="randomize('name')">
                                <span class="material-symbols-outlined">casino</span>
                            </button>
                        </div>
                        <div>
                            <span>{{form.value.surname || 'Generate surname'}}</span>
                            <button icon-button type="button" (click)="randomize('surname')">
                                <span class="material-symbols-outlined">casino</span>
                            </button>
                        </div>
                    </div>
                    @if (archetypesIcons) {
                        <h3>Archetype</h3>
                        <div class="info-container">
                            @for(archetype of randomArchetypes; track $index) {
                            <div class="archetype-container" (click)="selectArchetype(archetype)"
                                [class.selected]="archetype === form.value.archetype">
                                <h1>{{archetype}}</h1>
                                <span class="material-symbols-outlined">{{archetypesIcons[archetype]}}</span>
                            </div>
                            }
                        </div>
                    }
                    <h3>Role</h3>
                    <form [formGroup]="form">
                        <select standard-select name="" id="" formControlName="role">
                            <option value="">Select a role</option>
                            @for(role of roles; track $index) {
                            <option value="{{role}}">{{role}}</option>
                            }
                        </select>
                    </form>
                </div>

                <!-- AGENT SETUP PREVIEW -->
                <div class="setup-preview-container">
                    <h3>Agent tag preview</h3>
                    <div class="setup-preview-content">
                        <div class="company-container">
                            @if (player.company !== '') {
                                <div class="company-logo" [style.background-color]="'var(--bg-main-color)'"
                                    [style.-webkit-mask]="'url(./company-logos/' + player.company + '.svg) no-repeat center / contain'"
                                    [style.mask]="'url(./company-logos/' + player.company + '.svg) no-repeat center / contain'">
                                </div>
                            } @else {
                                <span class="company-logo material-symbols-outlined">
                                    warning
                                </span>
                            }
                        </div>
                        <div class="agent-info">
                            <div class="agent-info-container">
                                <div class="agent-name">{{form.value.name || '[ NAME ]' }} {{form.value.surname || '[ SURNAME ]'}}</div>
                                <div class="agent-role">{{form.value.role || '[ UNSELECTED ROLE ]'}}</div>
                            </div>
                            <div class="actions-indicator-container">
                                <div class="action-led"></div>
                                <div class="action-led"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            } @else {
                <p>Loading player data...</p>
            }
        </section>
        <!-- } -->

        <!-- CHAT -->
        <section class="game-lobby-page-chat-container">
            <div class="section-title">
                <span>Lobby chat [public]</span>
                <div class="chat-log-actions">
                    <button icon-button type="button" (click)="openChatHelpDialog()">
                        <span title="chat commands help" class="material-symbols-outlined">info</span>
                    </button>
                    @if (player?.uid === mission?.createdBy) {
                    <button icon-button type="button" (click)="openDeleteLogsDialog()">
                        <span title="delete chat logs" class="material-symbols-outlined">delete</span>
                    </button>
                }
                </div>
                
            </div>
            <div class="chat-content-container">
                <div class="chat-log">
                    @for(log of mission?.chatLog; track $index) {
                        <div class="{{log.class}} chat-message">[{{log.timestamp.toDate() | date:'d/M/yy HH:mm':'Europe/Rome'}}] ${{log.senderPlayer}} "{{log.message}}"</div>
                    } @empty {
                        <p>No messages</p>
                    }
                </div>
                <form [formGroup]="chatForm" class="chat-input">
                    <span class="material-symbols-outlined">chevron_right</span>
                    <input class="chat-log-input" type="text" formControlName="message" placeholder="Type your message here..." (keydown.enter)="sendMessage()"/>
                    <button icon-button class="material-symbols-outlined" type="button" (click)="sendMessage()" [disabled]="chatForm.invalid">keyboard_return</button>
                </form>
            </div>
        </section>
    </div>

    <div class="game-lobby-page-actions-container">
        @if (mission && mission.createdBy === player?.uid && mission.players && mission.playersLimit === mission.players.length) {
            <button standard-button type="button" disabled>Launch mission</button>
        } @else {
            <button standard-button type="button" disabled>Joined {{mission?.players?.length}}/{{mission?.playersLimit}}</button>
        }
        <button standard-button type="button" disabled>Help</button>
        <button standard-button type="button" disabled>Leave</button>
        <button standard-button type="button" [routerLink]="['/missions']">Exit</button>
    </div>
</div>