<div class="game-lobby-page-main-container">
    <div class="breadcrumb-container">
        <div [routerLink]="['/']">
            @for(line of titleLines; track $index) {
            <div class="{{line.class}} term-line">{{line.text}}</div>
            }
        </div>
        <div class="mode-line">/missions/{{missionId}}/lobby</div>
    </div>

    <div class="game-lobby-page-content-container">
            <!-- AGENT SETUP -->
            <section class="game-lobby-page-setup-container">
            <div class="section-title">
                <span>{{ player | agentLabel: form.value }}</span>
            </div>
            @if (player) {
                <div class="agent-setup-content-container">
                <div class="setup-options-container">
                    <h3>
                        Company [
                        {{
                        (player.company || form.value.company || ' UNSELECTED ')
                        | uppercase
                        | replaceDash
                        }} ]
                    </h3>
                    <div class="company-grid">
                        @for(company of companies; track $index) {
                            <div class="company-card-wrapper" (click)="selectCompany(company)" [class.company-card-selected]="
                                    (player.company || form.value.company) === company.name
                                ">
                                <div [style.background-color]="'var(--fg-color)'"
                                    [style.-webkit-mask]="'url(./company-logos/' + company.name + '.svg) no-repeat center / contain'"
                                    [style.mask]="'url(./company-logos/' + company.name + '.svg) no-repeat center / contain'" class="company-card">
                                </div>
                            </div>
                        }
                    </div>
                    <h3>Informations</h3>
                    <div class="info-container">
                        <div class="randomize-button" (click)="randomize('name')">
                            <span>{{ player.name || form.value.name || 'Generate name' }}</span>
                            <button icon-button type="button">
                                <span class="material-symbols-outlined">casino</span>
                            </button>
                        </div>
                        <div class="randomize-button" (click)="randomize('surname')">
                            <span>{{ player.surname || form.value.surname || 'Generate surname' }}</span>
                            <button icon-button type="button">
                                <span class="material-symbols-outlined">casino</span>
                            </button>
                        </div>
                    </div>
                        @if (archetypesIcons && yourTurn) {
                            <h3>Archetype</h3>
                            <div class="info-container">
                                @for(archetype of randomArchetypes; track $index) {
                                    <div class="archetype-container" (click)="selectArchetype(archetype)"
                                        [class.selected]="form.value.archetype.name === archetype.name">
                                        <h1>{{archetype.name}}</h1>
                                        <span class="material-symbols-outlined">{{archetypesIcons[archetype.name]}}</span>
                                    </div>
                                }
                                </div>
                        }
                        @if (yourTurn) {
                            <h3>Role</h3>
                            <button standard-button menu-button type="button" [cdkMenuTriggerFor]="menu" [cdkMenuPosition]="centeredMenuPos"
                                [disabled]="form.value.archetype === ''">{{ form.value.role || 'Select a role'
                                }}</button>
                            <ng-template #menu>
                                <div standard-menu cdkMenu>
                                    @for (role of roles; track $index) {
                                    <button standard-button cdkMenuItem (click)="selectRole(role)">
                                        {{ role }}
                                    </button>
                                    }
                                </div>
                            </ng-template>
                            } @else {
                            <p class="waiting-turn-message">[ WAITING ] Your turn is not active.</p>
                        }
                    </div>

                <!-- AGENT SETUP PREVIEW -->
                <app-agent-tag [$player]="form.value"></app-agent-tag>
            </div>
            } @else {
                <p>Loading player data...</p>
            }
        </section>
        <app-chat [$player]="player" [$mission]="mission"></app-chat>
    </div>

    <div class="game-lobby-page-actions-container">
        @if (mission && mission.createdBy === player?.uid && mission.players && mission.playersLimit === mission.players.length) {
            <button standard-button type="button" disabled>Launch mission</button>
        } @else {
            <button standard-button type="button" disabled>Joined {{mission?.players?.length}}/{{mission?.playersLimit}}</button>
        }
        <button standard-button type="button" [disabled]="form.invalid || player?.status === 'ready'" (click)="openSaveConfirmDialog()">
            {{ player?.status === 'ready' ? 'Saved' : 'Save' }}
        </button>
        <button standard-button type="button" (click)="openLobbyHelp()">Help</button>
        <button standard-button type="button" [disabled]="player?.uid === mission?.createdBy">Leave</button>
        <button standard-button type="button" [routerLink]="['/missions']">Exit</button>
    </div>
</div>