<div class="game-lobby-page-main-container">
    <div class="breadcrumb-container">
        <div [routerLink]="['/']">
            @for(line of titleLines; track $index) {
            <div class="{{line.class}} term-line">{{line.text}}</div>
            }
        </div>
        <div class="mode-line">/missions/{{missionId}}/lobby</div>
    </div>

    <div class="game-lobby-page-content-container">
            <!-- AGENT SETUP -->
            <section class="game-lobby-page-setup-container">
            <div class="section-title">
                <span>{{ player | agentLabel: form.value }}</span>
            </div>
            @if (player) {
                <div class="agent-setup-content-container">
                <div class="setup-options-container">
                    <h3>
                        Compagnia [
                        {{
                        (player.company.name || form.value.company.name || ' NON SELEZIONATA ')
                        | uppercase
                        | replaceDash
                        }} ]
                    </h3>
                    <div class="company-grid">
                        @for(company of companies; track $index) {
                            <div class="company-card-wrapper" (click)="selectCompany(company)" [class.company-card-selected]="
                                    (player.company.name || form.value.company.name) === company.name
                                ">
                                <div [style.background-color]="'var(--fg-color)'"
                                    [style.-webkit-mask]="'url(./company-logos/' + company.name + '.svg) no-repeat center / contain'"
                                    [style.mask]="'url(./company-logos/' + company.name + '.svg) no-repeat center / contain'" class="company-card">
                                </div>
                            </div>
                        }
                    </div>
                    <h3>Informazioni</h3>
                    <div class="info-container">
                        <div class="randomize-button" (click)="randomize('name')">
                            <span>{{ player.name || form.value.name || 'Genera nome' }}</span>
                            <button icon-button type="button">
                                <span class="material-symbols-outlined">casino</span>
                            </button>
                        </div>
                        <div class="randomize-button" (click)="randomize('surname')">
                            <span>{{ player.surname || form.value.surname || 'Genera cognome' }}</span>
                            <button icon-button type="button">
                                <span class="material-symbols-outlined">casino</span>
                            </button>
                        </div>
                    </div>
                    <div class="image-agent-container">
                        @for(f of faces; track $index) {
                            <div class="image-container" (click)="selectFace(f)" [class.image-selected]="form.value.face === f">
                                <div class="image-overlay"></div>
                                <img src="/people/{{f}}.jpg" alt="">
                            </div>
                        }
                    </div>
                        @if (archetypesIcons && yourTurn) {
                            <h3>Archetipo</h3>
                            <div class="info-container">
                                @for(archetype of randomArchetypes; track $index) {
                                    <div class="archetype-container" (click)="selectArchetype(archetype)"
                                        [class.selected]="form.value.archetype.name === archetype.name">
                                        <h1>{{archetype.name}}</h1>
                                        <span class="material-symbols-outlined">{{archetypesIcons[archetype.name]}}</span>
                                    </div>
                                }
                                </div>
                        }
                        @if (yourTurn) {
                            <h3>Ruolo</h3>
                            <button standard-button menu-button type="button" [cdkMenuTriggerFor]="menu" [cdkMenuPosition]="centeredMenuPos"
                                [disabled]="form.value.archetype === ''">{{ form.value.role || 'Seleziona un ruolo'
                                }}</button>
                            <ng-template #menu>
                                <div standard-menu cdkMenu>
                                    @for (role of roles; track $index) {
                                    <button standard-button cdkMenuItem (click)="selectRole(role)">
                                        {{ role }}
                                    </button>
                                    }
                                </div>
                            </ng-template>
                            } @else {
                            <p class="waiting-turn-message">[ IN ATTESA ] Il tuo turno non è attivo.</p>
                        }
                    </div>

                <!-- AGENT SETUP PREVIEW -->
                <app-agent-tag [$player]="form.value"></app-agent-tag>
            </div>
            } @else {
                <p>Caricamento dati giocatore...</p>
            }
        </section>
        <app-chat [$player]="player" [$mission]="mission"></app-chat>
    </div>

    <div class="game-lobby-page-actions-container">
        @if (mission && mission.createdBy === player?.uid && mission.players && mission.playersLimit === mission.players.length) {
            <button standard-button type="button" [disabled]="!readyToStart || mission.status === 'in_progress'" (click)="openLaunchConfirmDialog()">Avvia missione</button>
        } @else {
            <button standard-button type="button" disabled>Joined {{mission?.players?.length}}/{{mission?.playersLimit}}</button>
        }
        <button standard-button type="button" [disabled]="form.invalid || player?.status === 'ready'" (click)="openSaveConfirmDialog()">
            {{ player?.status === 'ready' ? 'Salvato' : 'Salva' }}
        </button>
        <button standard-button type="button" (click)="openLobbyHelp()">Aiuto</button>
        <button standard-button type="button" [disabled]="player?.uid === mission?.createdBy">Abbandona</button>
        <button standard-button type="button" [routerLink]="['/missions']">Esci</button>
    </div>
</div>