:host {
    width: 100%;
    height: 100%;
}

.game-lobby-page-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .term-line {
        opacity: 0;
        animation: fadeInUp 0.5s forwards;
        animation-delay: calc(var(--delay) * 1ms);
        text-shadow: 0 0 8px var(--fg-color);
    }

    .title-line {
        font-family: monospace;
        white-space: pre;
    }
}

.breadcrumb-container {
    position: absolute;
    top: 24px;
    left: 24px;

    display: flex;
    align-items: end;
    gap: 8px;

    .title-line {
        font-size: 0.3rem;
    }

    .mode-line {
        font-size: 1.2rem;
    }
}

.game-lobby-page-actions-container {
    position: fixed;
    bottom: 24px;
    display: flex;
    gap: 16px;
}

.game-lobby-page-content-container {
    width: 100%;
    height: 80%;
    max-width: 1400px;
    display: flex;
    gap: 16px;

    section {
        flex-grow: 1;
        border: 1px solid var(--fg-color);
        overflow: auto;
        width: 50%;

        display: flex;
        flex-direction: column;
        gap: 8px;

        .section-title {
            font-size: 1.5rem;
            text-transform: uppercase;
            padding: 8px 12px;

            display: flex;
            justify-content: space-between;

            .chat-log-actions {
                display: flex;
                gap: 8px;
            }
        }
    }
}

.game-lobby-page-chat-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .chat-content-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 12px;
        justify-content: space-between;
        padding: 12px;

        &>.chat-log {
            flex-grow: 1;
            overflow: auto;
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            font-size: 1.2rem;

            p {
                margin: 0;
            }

            &>.shout-message {
                text-transform: uppercase;
            }
        }

        &>.chat-input {
            display: flex !important;
            gap: 8px;
            border: 1px solid var(--fg-color);
            padding: 8px;

            input[type="text"] {
                border: none;
                flex-grow: 1;
                background-color: var(--bg-main-color);
                color: var(--fg-color);
                font-size: 16px;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--fg-color);
                    opacity: 0.6;
                }
            }
        }
    }
}

.game-lobby-page-setup-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .agent-setup-content-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 12px;
        justify-content: space-between;
        padding: 12px;

        .setup-options-container {
            flex-grow: 1;

            &>h3 {
                margin: 12px 0;
            }

            &>.company-grid {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 12px;

                &>.company-card-wrapper {
                    border: 1px solid var(--fg-color);
                    width: 100%;
                    height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 24px;

                    &:hover {
                        background-color: var(--fg-color);
                        box-shadow: 0 0 12px var(--fg-color);
                        transition: background-color 0.3s;
                        cursor: pointer;

                        .company-card {
                            filter: invert(1);
                        }
                    }

                    .company-card {
                        width: 100%;
                        height: 100%;
                    }
                }

                &>.company-card-selected {
                    background-color: var(--fg-color);
                    box-shadow: 0 0 12px var(--fg-color);

                    .company-card {
                        filter: invert(1);
                    }
                }
            }

            &>.info-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 12px;

                &>div {
                    border: 1px solid var(--fg-color);
                    padding: 12px;
                    text-transform: uppercase;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &>.archetype-container{
                    padding: 24px 12px;
                }

                &>.archetype-container:hover {
                    color: var(--bg-main-color);
                    background-color: var(--fg-color);
                    box-shadow: 0 0 12px var(--fg-color);
                    cursor: pointer;
                    transition: background-color 0.3s;
                }

                &>.archetype-container.selected {
                    color: var(--bg-main-color);
                    background-color: var(--fg-color);
                    box-shadow: 0 0 12px var(--fg-color);
                }

                h1 {
                    margin: 0;
                    letter-spacing: 2px;
                }
            }
        }

        .setup-preview-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-bottom: 16px;

            h3 {
                margin: 0 0 12px 0;
            }

            .setup-preview-content {
                border: 1px solid var(--fg-color);
                height: 100px;
                display: grid;
                grid-template-columns: 100px auto;

                &>.company-container {
                    width: 100px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--fg-color);
    
                    &>.company-logo {
                        width: 80px;
                        height: 80px;
                    }
                }

                &>.agent-info {
                    padding: 8px;
                    display: flex;
                    gap: 16px;

                    &>.agent-info-container {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        align-items: end;
                        justify-content: flex-end;

                        &>.agent-name {
                            font-size: 1.5rem;
                            text-transform: uppercase;
                        }
                    }

                    &>.actions-indicator-container {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        justify-content: center;
                        
                        &>div {
                            height: 100%;
                            width: 8px;
                            border: 1px solid var(--fg-color);
                            background-color: var(--fg-color);
                            box-shadow: 0 0 8px var(--fg-color);
                        }
                    }
                }
            }

        }
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
    }
}