#map {
    width: 100%;
    height: 100%;
    background: none;
}

.start-marker-icon {
  font-size: 24px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.start-marker-icon {
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.6));
}