<div class="games-list-page-main-container">
    <div class="breadcrumb-container">
        <div>
            @for(line of titleLines; track $index) {
                <div class="{{line.class}} term-line">{{line.text}}</div>
            }
        </div>
        <div class="mode-line">/missions</div>
    </div>

    <div>
        @if(missions && missions.length === 0) {
            @for(line of noMissionsLines; track $index) {
                <div class="{{line.class}} term-line" [style.animationDelay.ms]="line.delay">{{line.text}}</div>
            }
        }
    </div>

    @defer(when missions) {
        @for(mission of missions; track mission.id) {
            <div class="game-main-container">
                <p>#{{$index + 1}}</p>
                <p>id={{mission.id}}</p>
                <p>nome={{mission.name | uppercase}}</p>
                <p>stato={{mission.status | uppercase}}</p>
                <p>agenti={{mission.players.length}}/{{mission.playersLimit}}</p>

                <div class="game-actions">
                    @if (user?.uid === mission.createdBy) {
                        <button icon-button type="button" (click)="openDeleteGameDialog(mission.id)">
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    }
                    @if (mission.status !== 'finished') {
                        <button icon-button type="button" (click)="nav(mission)">
                            <span class="material-symbols-outlined">{{mission.status === 'waiting' ? 'edit' : 'play_arrow'}}</span>
                        </button>
                    }
                </div>
            </div>
        }
    }

    <div class="games-list-page-actions-container">
        <button standard-button type="button" [disabled]="missions && missions.length >= 3" (click)="openNewGameDialog()">Crea</button>
        <button standard-button type="button" (click)="openJoinGameDialog()">Partecipa</button>
        <button standard-button type="button" [routerLink]="['/']">Esci</button>
    </div>
</div>