<app-ui-dialog-container dialogTitle="Conferma eliminazione">
    <p p-pulse-text>[ATTENZIONE] Protocollo di eliminazione critica avviato.</p>
    <p>
        L'entità selezionata sarà rimossa permanentemente 
        dalla memoria di sistema.<br>
        Questo processo non può essere annullato una volta confermato.<br>
        Procedi solo se l'operazione è stata autorizzata.
    </p>
    <div dialog-actions-container>
        <button standard-button type="button" (click)="confirm()">conferma</button>
        <button standard-button type="button" (click)="cancel()">annulla</button>
    </div>
</app-ui-dialog-container>
