<div dialog-main-container>
    <h1>Conferma eliminazione</h1>

    <pre class="container-log">
[ATTENZION] Protocollo di eliminazione critica avviato.
-------------------------------------------------------
  L'entità selezionata sarà rimossa permanentemente 
  dalla memoria di sistema.

  Questo processo non può essere annullato una volta confermato.
  Procedi solo se l'operazione è stata autorizzata.

[AVVISO] Tutti i dati dipendenti saranno persi.
[STATO] In attesa della conferma finale...
-------------------------------------------------------
    </pre>
    <div dialog-actions-container>
        <button standard-button type="button" (click)="confirm()">conferma</button>
        <button standard-button type="button" (click)="cancel()">annulla</button>
    </div>
</div>