<div dialog-main-container>
    <h1>[stop] Conferma richiesta</h1>

    <pre class="container-log">
[AVVISO] Punto di controllo raggiunto.
------------------------------------------------------------
   L'operazione intrapresa richiede una conferma esplicita 
   da parte dell'utente.

   [ATTENZIONE] A seconda dell'operazione alcuni dati 
   potrebbero andare persi o essere modificati in modo 
   irreversibile.

[STATO] In attesa della validazione finale dell'utente...
------------------------------------------------------------
    </pre>

    <div dialog-actions-container>
        <button standard-button type="button" (click)="confirm()">conferma</button>
        <button standard-button type="button" (click)="cancel()">annulla</button>
    </div>
</div>
