<div dialog-main-container>
    <h1>ATTESA CONFERMA</h1>

    <pre class="container-log">
[AVVISO] Punto di controllo della validazione dati raggiunto.
-------------------------------------------------------
    Stai per finalizzare la configurazione dell'agente inviata.

    Una volta confermata, le informazioni memorizzate saranno bloccate
    nel database della missione e non saranno più modificabili
    tramite questa interfaccia.

    Controlla attentamente i dati prima di procedere.
    La conferma è considerata un'autorizzazione permanente.

[STATO] In attesa della validazione finale dell'utente...
-------------------------------------------------------
    </pre>

    <div dialog-actions-container>
        <button standard-button type="button" (click)="confirm()">conferma</button>
        <button standard-button type="button" (click)="cancel()">annulla</button>
    </div>
</div>
