:host {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 4000;
}

.legend-main-container {
    background: var(--bg-main-color);
    border: 1px solid var(--fg-color);
    box-shadow: 0 4px 16px var(--bg-main-color);
    padding: 8px;
    width: 200px;
    font-size: 0.875rem;
    position: relative;
}

details {
    cursor: pointer;
    summary {
        text-transform: uppercase;
    }
}

.legend-items-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.legend-item {
    display: flex;
    gap: 4px;
    align-items: center;
}

.diagonal-line, .diagonal-line-overlay {
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: -1px;
    right: -1px;
    z-index: 0;
    transform: rotate(90deg);
}
.diagonal-line-overlay {
    z-index: 1;
}