<div class="legend-main-container">
    <details #legendDetails>
        <summary>Legenda</summary>
        <div class="legend-items-container">
            @for(item of legendItems; track $index) {
            <div class="legend-item">
                @for(icon of item.icons; track $index) {
                <span class="material-symbols-outlined">{{ icon }}</span>
                }
                <div class="description-container">
                    {{ item.description }}
                </div>
            </div>
            }
        </div>
    </details>
    <app-ui-diagonal-line position="bottom-right"></app-ui-diagonal-line>
</div>