<div dialog-main-container>
    <h1>Crea una nuova missione</h1>

    <pre class="container-log">
[INIZIALIZZAZIONE CREAZIONE MISSIONE] ............ [OK]
[CANALI SICURI STABILITI] ........................ [OK]
-------------------------------------------------------
AGENTE, inserisci i seguenti dettagli:

- NOME             : scegli un identificativo per la missione
- LIMITE GIOCATORI : imposta il numero massimo di agenti (2-6)
- PASSWORD         : proteggi la tua sessione

[AVVISO] Tutti i campi devono essere compilati per procedere.
[STATO] In attesa di input...
-------------------------------------------------------
  </pre>

    <form standard-form [formGroup]="form">
        <div form-field>
            <label for="name">Nome missione</label>
            <input id="name" type="text" formControlName="name" aria-autocomplete="none" autocomplete="new-password"
                autocorrect="off" placeholder="Scrivi qui" />
        </div>
        <div form-field>
            <label for="playersLimit">Limite agenti (massimo 6)</label>
            <input id="playersLimit" type="number" inputmode="numeric" min="2" max="6" formControlName="playersLimit"
                placeholder="2" />
        </div>
        <div form-field>
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" autocorrect="off"
                placeholder="Scrivi qui" />
        </div>
    </form>

    <div dialog-actions-container>
        <button standard-button type="button" [disabled]="form.invalid" (click)="confirm()">Crea</button>
        <button standard-button type="button" (click)="cancel()">ESC</button>
    </div>
</div>