/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

html,
body {
    height: 100%;
    margin: 0;

    background-color: var(--bg-main-color);
    color: var(--fg-color);
    font-family: "VT323", monospace;
    font-size: 16px;
}

:root {
    --fg-color: #ffffff;

    --bg-main-color: #121212;
    --fg-main-color: #ffffff;

    --fg-green-color: #00ff41;
    --fg-ibm-color: #00ff41;
    --fg-cyan-color: #00ffff;
    --fg-amber-color: #ffaa00;

    --bg-ibm-color: #1800d1;
    --error-color: crimson;
}

.green-theme {
    --fg-color: #00ff41;
    --bg-main-color: #121212;
}

.cyan-theme {
    --fg-color: #00ffff;
    --bg-main-color: #121212;
}

.amber-theme {
    --fg-color: #ffaa00;
    --bg-main-color: #121212;
}

.apple-theme {
    --fg-color: #FFF;
    --bg-main-color: #121212;
}

.ibm-theme {
    --fg-color: #00ff41;
    --bg-main-color: #1800d1;
}

.subtitle-line {
    font-size: 1.3rem;
    margin-top: 8px;
    align-self: flex-start;
    text-shadow: 0 0 4px var(--fg-color);
}

// Components

button[standard-button] {
    border: none;
    background: none;
    color: var(--fg-color);
    font-size: 1.2rem;
    border: 1px solid var(--fg-color);
    padding: 8px 16px;
    text-transform: uppercase;
    min-width: 100px;

    &:hover {
        background-color: var(--fg-color);
        color: var(--bg-main-color);
        transition: background-color 0.3s, color 0.3s;
        box-shadow: 0 0 8px var(--fg-color);
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: transparent;
        color: var(--fg-color);
        box-shadow: none;
    }
}

button[icon-button] {
    border: none;
    background: none;
    color: var(--fg-color);

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0;
    margin: 0;

    &>.material-symbols-outlined {
        font-size: 1.2rem;
    }

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: transparent;
        color: var(--fg-color);
    }
}

// Dialogs

.dialog-container {
    background-color: var(--bg-main-color);
    border: 1px solid var(--fg-color);
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    max-width: 600px !important;
    max-height: 650px !important;
}

.dialog-backdrop {
    backdrop-filter: blur(8px);
}

div[dialog-main-container] {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        text-transform: uppercase;
    }


    div[dialog-actions-container] {
        margin: 16px 0;
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }
}

// Forms

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 0;

    div[form-field] {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;

        label {
            font-size: 1.2rem;
            color: var(--fg-color);
            text-shadow: 0 0 4px var(--fg-color);
            margin-bottom: 4px;
            text-transform: uppercase;
        }

        input {
            border: 1px solid var(--fg-color);
            background-color: var(--bg-main-color);
            width: 100%;
            padding: 12px;
            font-size: 1.2rem;
            color: var(--fg-color);

            &:focus {
                outline: none;
                border-color: var(--fg-color);
                box-shadow: 0 0 8px var(--fg-color);
            }

            &::placeholder {
                color: var(--fg-color);
                opacity: 0.7;
            }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:hover {
            background-color: var(--bg-main-color) !important;
            color: var(--fg-color) !important;
            box-shadow: 0 0 8px var(--fg-color) !important;
            -webkit-text-fill-color: var(--fg-color) !important;
            transition: background-color 5000s ease-in-out 0s;
        }
    }
}